.container {
  background: var(--white);
  border: solid;
}

.articlesBg {
  background: var(--grey1);
}

.hero {
  min-width: 100%;
  height: 20rem;
  background-image: url("../../public/svgs/article-hero-bg.svg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.innerHero {
  min-width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 90%;
}

.heroCredit {
  background-image: url("../../public/svgs/article-credit-hero.svg");
}

.heroInterest {
  background-image: url("../../public/svgs/article-interest-hero.svg");
}

.heroCosts {
  background-image: url("../../public/svgs/article-costs-hero.svg");
}

.heroMistakes {
  background-image: url("../../public/svgs/article-mistakes-hero.svg");
}

.goBack {
  width: 100%;
  margin: 2rem;
}

.goBack div {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 1rem;
  color: var(--blue3);
  cursor: pointer;
}

.goBack svg {
  font-size: 2rem;
}

.articleWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.dateline {
  width: 100%;
}

.dateline p {
  color: var(--blue1);
}

.h1 {
  width: 100%;
}

.h1 h2 {
}

.h2 h3 {
  margin-top: 4rem;
}

.subH1 {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.text {
  margin-top: 1rem;
}

@media screen and (max-width: 900px) {
  .hero {
    height: 10rem;
  }
}

@media screen and (max-width: 450px) {
}
