.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: var(--sectionSpace);
}

.container h2 {
  width: 100%;
  text-align: center;
  margin-top: var(--sectionSpace);
}

.formWrapper,
.detailsWrapper {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: calc(var(--sectionSpace) - 1.5rem);
}

.formWrapper h3,
.detailsWrapper h3 {
  max-width: 500px;
}

.formWrapper h3 span,
.detailsWrapper h3 span {
  color: var(--grey2);
}

.formCardWrapper,
.detailsCardWrapper {
  width: 26rem;
  height: 26rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.formCardWrapper {
  background-image: url("../../public/svgs/contact-form-bg-svg.svg");
}

.detailsCardWrapper {
  background-image: url("../../public/svgs/contact-details-bg-svg.svg");
}

.card {
  width: 24rem;
  height: 24rem;
  background: var(--white);
  border-radius: 3rem;
}

.form {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding: 2rem;
}

.input {
  width: 100%;
}

.doubleInput {
  display: flex;
  gap: 2rem;
}

.input label {
  font-size: var(--smalltext);
  color: var(--grey2);
}

.input input,
.input textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--grey2);
  resize: none;
  font-family: "Poppins";
  transition: all 0.3s;
}

.input input:focus {
  border-bottom: 2px solid var(--blue1);
}

.input textarea:focus {
  border: 2px solid var(--blue1);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.input textarea:focus,
.input input:focus {
  outline: none;
}

.form button {
  background: var(--buttonPrimary);
  border-style: none;
  width: 40%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2rem;
  color: var(--white);
  font-weight: 700;
  font-size: var(--largetext);
}

.form button:hover {
  background: var(--buttonPrimaryHover);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.details p {
  font-weight: 400;
  font-size: var(--largetext);
  line-height: 1.5rem;
  margin-left: -.3rem;
}

.details h4 span {
  color: var(--grey2);
}

.details p:first-child span {
  font-weight: 300;
  color: var(--grey2);
}

.details span {
  font-weight: 300;
  color: var(--grey3);
  font-size: var(--smalltext);
}

.details p span {
  display: block;
  margin-top: .5rem;
  margin-left: 1.9rem;
}
