.different {
    margin: var(--sectionSpace) 3rem 0;
    text-align: center;

    
}

.different span {
    color: var(--grey2);
}

.container {
    width: 100%;
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6rem 12rem;
    margin-top: var(--sectionSpace);
    padding: var(--sectionSpace) 0;
}

.card {
    max-width: 300px;
}

.svg1 {
    height: 160px;
    width: 160px;
    background-image: url('../../public/svgs/difference-1.svg');
}

.svg2 {
    height: 160px;
    width: 160px;
    background-image: url('../../public/svgs/difference-2.svg');
}

.svg3 {
    height: 160px;
    width: 160px;
    background-image: url('../../public/svgs/difference-3.svg');
}

.card h3 {
    margin-top: 2rem;
}

.card h6 {
   color: var(--grey2);
   margin-top: 2rem;

}