.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forSellers {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 6rem;
}

.forBuyers {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 6rem;
}

.sellersSvg {
  height: 450px;
  width: 450px;
  border-radius: 3rem;
  box-shadow: 0 0 10px var(--grey2);
  background-image: url("../../public/svgs/for-sellers.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.buyersSvg {
  height: 450px;
  width: 450px;
  border-radius: 3rem;
  box-shadow: 0 0 10px var(--grey2);
  background-image: url("../../public/svgs/for-buyers.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.text {
    max-width: 500px;
}

.text p {
    font-size: var(--largetext);
    margin-top: 1rem;
    line-height: 2rem;
    color: var(--grey2);
}

.button {
    color: var(--white);
    padding: 1rem;
    background: var(--buttonPrimary);
    border-radius: 2rem;
    border: none;
    margin-top: 2.5rem;
    font-size: var(--largetext);
    font-weight: 700;
    letter-spacing: -.1px;
}