.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 80%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 6rem;
}

.sellersSvg,
.buyersSvg {
  height: 24rem;
  width: 24rem;
  border-radius: 3rem;
  background-color: var(--white);
  box-shadow: 0 0 10px var(--grey2);
  background-image: url("../../public/svgs/for-sellers.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.buyersSvg {
  background-image: url("../../public/svgs/for-buyers.svg");
}

.text {
  max-width: 500px;
}

.text p {
  font-size: var(--largetext);
  margin-top: 1rem;
  line-height: 2rem;
  color: var(--grey2);
}

.button {
  width: fit-content;
  background: var(--buttonPrimary);
  padding: 1rem;
  border-radius: 2rem;
  margin-right: 1rem;
  color: var(--white);
  font-weight: 700;
  font-size: var(--largetext);
  border: none;
  margin-top: 2.5rem;
  letter-spacing: -0.1px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background: var(--buttonPrimaryHover);
}
