.container {
  min-height: calc(100vh - var(--navbarheight));
  background-image: url("../../public/svgs/home-hero-lg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fancy {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 85%;
  max-width: 1200px;
  padding-bottom: var(--sectionSpace);
}

.fancy span {
    color: var(--grey2);
}

.fancy span:nth-child(2) {
  display: block;
}

.buttons {
  display: flex;
}

.button {
  width: fit-content;
  background: var(--buttonPrimary);
  padding: 1rem;
  border-radius: 2rem;
  margin-right: 1rem;
  color: var(--white);
  font-weight: 700;
  font-size: var(--largetext);
  letter-spacing: -0.15px;
}

.button:hover {
  background: var(--buttonPrimaryHover);
}

@media screen and (max-width: 900px) {
  .fancy {
    gap: 2rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    width: 95%;
    text-align: center;
    margin-top: var(--sectionSpace);
    background-color: hsla(206, 41.2%, 96.7%, 0.8);
    box-shadow: 0 1px 150px hsla(206, 41.2%, 96.7%, 1);
  }

  .container {
    /* min-height: calc(100vh - var(--navbarheight)); */
    background-image: url("../../public/svgs/home-hero-md.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .fancy span:nth-child(2) {
    display: inline;
  }
}
