.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  width: 100%;
  padding: 0 2rem;
  margin-top: var(--sectionSpace);
  text-align: center;
}

.container span {
  color: var(--grey2);
}

.slider {
  width: 24rem;
  height: 24rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  margin-top: var(--sectionSpace);
  overflow: hidden;
}

.imgWrapper {
  position: absolute;
  overflow: hidden;
}

.pagination {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  gap: 0.5rem;
  padding: 2rem 0;
}

.next,
.prev {
  background: var(--white);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.prev {
  transform: scale(-1);
}

.pagis {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.balls {
  width: 0.5rem;
  height: 0.5rem;
  background: var(--grey2);
  border-radius: 50%;
  filter: brightness(1.1);
}

.ballsActive {
  transform: scale(2);
  transition: all 0.2s;
  filter: brightness(1);
}

.name {
  font-weight: 500;
  margin-top: 2rem;
}

.bio {
  width: 80%;
  background-color: var(--white);
  border-radius: 3rem;
  padding: 2rem;
}

.bio h4 {
  font-weight: 500;
}

.bio h6 {
  margin-top: 1rem;
  columns: 2;
  column-gap: 3rem;
  color: var(--grey2);
}

@media screen and (max-width: 900px) {
  .bio h6 {
    columns: 1;
  }
}

@media screen and (max-width: 450px) {
}
