.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h2 {
  width: 100%;
  padding: 0 2rem;
  margin-top: var(--sectionSpace);
  text-align: center;
}

.container span {
  color: var(--grey2);
}

.slider {
  width: 24rem;
  height: 24rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--borderRadius);
  margin-top: var(--sectionSpace);
  overflow: hidden;
  border-radius: var(--borderRadius);
}

.imgWrapper {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.nameSplide {
  width: 24rem;
  overflow: hidden;
  margin-bottom: 2rem;
}
.name {
  font-weight: 500;
  margin: 3rem auto;
  text-align: center;
}

.bio {
  width: 80%;
  background-color: var(--white);
  border-radius: var(--borderRadius);
  padding: 2rem;
  border-radius: var(--borderRadius);
}

.bio h4 {
  font-weight: 500;
}

.bio h6 {
  margin-top: 1rem;
  columns: 2;
  column-gap: 3rem;
  color: var(--grey2);
}

@media screen and (max-width: 900px) {
  .bio h6 {
    columns: 1;
  }
}

@media screen and (max-width: 450px) {
  .slider {
    width: 100%;
    border-radius: 0;
  }
  .bio {
    width: 100%;
    border-radius: 0;
  }

  .slider {
    border-radius: 0;
  }
}
