.videoWrapper {
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--sectionSpace) 0 0;
}

.video {
    width: 85%;
    height: 80vh;
    background-color: white;
    border-radius: 6rem;
    border: solid var(--grey2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.video svg {
    color: var(--blue1);
    font-size: 6rem;
}