.container {
    width: 100%;
    height: auto;
    background: var(--white);
    margin-top: var(--sectionSpace);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--sectionSpace);
}

.container h2 {
    width: 100%;
    text-align: center;
    padding-top: var(--sectionSpace);
}

.faqWrapper {
    width: 80%;
    max-width: 800px;
    margin-top: var(--sectionSpace);
}

.question {
    padding: 1.5rem;
    margin-top: .8rem;
    cursor: pointer;
    border-bottom: 2px solid var(--grey1);
    transition: all .3s ;
    width: 100%;
}

.question h5 {
    /* font-size: var(--largetext); */
    font-weight: 700;
}

.questionMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.question svg {
    font-size: 1rem;
    color: var(--grey2);
}

.question:hover {
    background: var(--grey1);
    /* border-radius: 1.5rem; */
    border-radius: var(--borderRadius);
}

.answer h6 {
    margin-top: 1.5rem;
    color: var(--grey2);
    padding-right: 2rem;
}

