.container {
  min-height: calc(100vh - var(--navbarheight) + .9rem);
  margin-top: var(--navbarheight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.container h1 {
    margin-top: 6rem;
    z-index: 10;
}

.heroSvg {
  background-image: url("../../public/svgs/sellers-hero-svg.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
}
