.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem;
  position: relative;
}

.scrollTo {
  position: absolute;
  top: -5rem;
}

.container h2 {
  width: 100%;
  min-width: 200px;
  padding: 0 1rem;
  margin-top: 4rem;
  text-align: center;
}

.container span {
  color: var(--grey2);
}

.wrapper {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--sectionSpace);
  width: 100%;
  max-width: 1000px;
  margin-top: 4rem;
}

.article {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 450px;
  min-width: 450px;
  cursor: pointer;
}

.svgs {
  min-height: 8rem;
  min-width: 8rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.svg1 {
  background-image: url("../../public/svgs/credit-score-svg.svg");
}
.svg2 {
  background-image: url("../../public/svgs/save-interest-svg.svg");
}
.svg3 {
  background-image: url("../../public/svgs/avoid-pit-svg.svg");
}
.svg4 {
  background-image: url("../../public/svgs/costly-mistakes-svg.svg");
}

.article:hover h4 {
  /* text-decoration: underline; */
  color: var(--blue4);
}

.article:hover p {
  color: var(--blue4);
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 450px) {
  .article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 100%;
    min-width: 200px;
    text-align: center;
  }
}
