.container {
  min-height: calc(100vh - var(--navbarheight));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  position: relative;
}

.heady {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  text-align: center;
}

.heady span {
  color: var(--grey2);
}

.heroSvg {
  background-image: url("../../public/svgs/buyers-hero-svg.svg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 3;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .container {
    min-height: calc(70vh - var(--navbarheight));
  }

  .heroSvg {
    width: 100%;
    flex: 2;
  }
}

@media screen and (max-width: 450px) {
}
