.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: var(--white);
    padding-bottom: var(--sectionSpace);
  }
  
  .container h2 {
    text-align: center;
    margin-top: var(--sectionSpace);
    padding: 0 2rem;
    max-width: 1000px;
    position: relative;
  }
  
  .container h2 span {
    color: var(--grey2);
  }

  .button {
    width: fit-content;
    background: var(--buttonPrimary);
    padding: .8rem 1rem;
    border-radius: 2rem;
    margin-right: 1rem;
    color: var(--white);
    font-weight: 700;
    font-size: var(--largetext);
    border: none;
    margin-top: var(--sectionSpace);
    letter-spacing: -0.1px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: .5rem;
  }
  
  .button:hover {
    background: var(--buttonPrimaryHover);
  }
  
  .button a svg {
    vertical-align: middle;
    font-size: 2rem;
    margin-bottom: 0.3rem;
    transform: rotate(40deg);
  }
  
  .button a svg circle {
    fill: var(--blue4);
  }
  
  .button a svg g {
    fill: var(--blue3);
  }

  .quick {
    margin-top: var(--sectionSpace);
    max-width: 1000px;
    width: fit-content;
  }

  .quick h3 {
    text-align: center;
    color: var(--grey2);
  }

  .quick ul {
    margin-top: var(--sectionSpace);
    margin-top: 2rem;
    columns: 3;
    gap: 4rem;
    max-width: 100%;
    padding: 0 1rem;
  }

  .quick li {
    list-style: none;
    color: var(--grey3);
    padding: .5rem 0;
    cursor: pointer;
  }

  .quick li:hover {
    /* text-decoration: underline; */
    transition: all .3 ease;
    color: var(--blue4);
  }

  @media screen and (max-width: 900px) {
    .quick ul {
      columns: 2;

    }
  }
  
  @media screen and (max-width: 600px) {
    .quick ul {
      columns: 1;

    }
  }