.container {
  border: solid var(--grey2);
  margin-top: var(--sectionSpace);
  width: 100%;
  height: calc(100vh - 3 * var(--navbarheight));
}

.autocompleteContainer {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 300px;
  height: 200px;
}

.comboboxInput {
  width: 100%;
  padding: 1rem;
}

.comboboxInput:focus {
    border: solid var(--blue3);

}