:root {
  /* Color styles */
  --black: hsla(0, 0%, 11%, 1);
  --grey1: hsla(206, 41.2%, 96.7%, 1);
  --grey2: hsla(216, 14.5%, 56.9%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --blue1: hsla(203, 95.1%, 67.8%, 1);
  --blue2: hsla(203, 69.2%, 60.6%, 1);
  --blue3: hsla(203, 45.5%, 50.4%, 1);
  --blue4: hsla(203, 44.4%, 33.1%, 1);
  --blue5: hsla(203, 45.7%, 15.9%, 1);
  --green: hsla(176, 38.5%, 77.1%, 1);
  --red: hsla(348, 100%, 69.8%, 1);
  --yellow: hsla(50, 100%, 69.8%, 1);
  --buttonPrimary: linear-gradient(to bottom, var(--blue1),var(--blue2));

  /* Font sizes */
  --headline1: 48px;
  --headline2: 32px;
  --headline3: 24px;
  --headline4: 20px;
  --largetext: 20px;
  --normaltext: 16px;
  --smalltext: 14px;
}

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-family: "Poppins";
  font-size: var(--headline1);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 64px;
}

h2 {
  font-size: var(--headline2);
}

h3 {
  font-size: var(--headline3);
}

h4 {
  font-size: var(--headline4);
}

p {
  font-size: var(--normaltext);
}

a {
  color: inherit;
  text-decoration: none;
}